html {
   background-image:url("../imagenes/blue.jpg");
   margin: 0 auto;
   padding: 0px;
 }
 body {
   width: 100%;
   margin: 0 auto;
   background-color: transparent;
   color:color: #FFFFCC;  
 }
 .cuerpo-principal {
   background-image:url("../imagenes/blue5.jpg");
   color: #FFFFCC;
   width: 900px;
   float:right;
   background-size:100% 100%;
   margin-right:20px;
 }
 .cuento{
   color:white;
   overflow:scroll;
   background-image:url("../imagenes/blue5.jpg");
   height: 400px;
   width: 900px;
   margin-top:0px;
   float:right;
   margin-right:20px;
   background-size:100% 100%;
}
.imagenCuento{
  height:400px; 
  width:350px;
  margin-left:40px;
  
}
.contenido-cuento{
  background-image:url("../imagenes/blue3.jpg");
  display:block;
  width:800px;
  float:right;
  margin-right:100px;
  margin-bottom:0px;
  
}
h1{
  color:#FFFFCC;
  text-align:center;
}
.lecturas{
   border: 15px solid transparent;
   background-image:url("../imagenes/chalkboard.jpg");
   font-size:20px;
   color:#FFFFCC;
   width:200px;
   float:right;
}
a{
  text-decoration:none;
  color:#FFFFCC;
}
.imagenPoe{
  height:400px; 
  width:450px;
  margin-left:250px;
  
}
.pie{
  float:right;
   background-color:black;
   width:100%;
}

 