html {
   background-image:url("../imagenes/blue.jpg");
   margin: 0 auto;
   padding: 0px;
 }
 body {
   width: 100%;
   margin: 0 auto;
   background-color: transparent;
   color:color: #FFFFCC;  
 }
 .cuerpo-principal {
   background-image:url("../imagenes/blue5.jpg");
   color: #FFFFCC;
   width: 900px;
   background-size:100% 100%;
   margin-left:200px;
 }
.contenido-cuento{
  background-image:url("../imagenes/libropoe.jpg");
  display:block;
  width:500px;
  float:right;
  margin-right:500px;
  margin-bottom:0px;
  background-size:100% 100%;
}
h1{
  color:#FFFFCC;
  text-align:center;
}
a{
  text-decoration:none;
  color:#FFFFCC;
}
.imagenPoe{
  height:400px; 
  width:450px;
  margin-left:250px;
  margin-top:30px;
  
}
.pie{
  float:right;
   background-color:black;
   width:100%;
}

 